@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.box-conteudo {
    width: 611px;
    height: 611px;
    border-style: solid;
    border-radius: 10px;
    border-color: #DD1D00;
}

.box-conteudo-espacamento{
    height: 611px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.box-conteudo-imagem {
    width: 150px;
    height: 175px;
}

.box-conteudo-card {
    width: 451px;
    height: 214px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C65454;
    background-color: #C65454;
}

.box-conteudo-texto {
    font-family: Mohave;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding: 10px;
}