@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: Mohave;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 98px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-aluno {
    margin-top: 34px;
    width: 568px;
    height: 200px;
    background-color: #C65454;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-aluno-imagem {
    width: 125px;
    height: 150px;
}

h2 {
    font-family: Mohave;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.card-aluno-box-texto {
    margin-right: 100px;
}

.card-aluno-texto {
    font-family: Mohave;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.card-menu {
    margin-top: 34px;
    width: 568px;
    height: 200px;
    background-color: #FAB8B8;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-menu-div {
    width: 100px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.card-menu-imagem {
    width: 50px;
    height: 50px;
}

.card-menu-texto {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.cards-aluno-menu {
    width: 1240;
    display: flex;
    justify-content: space-between;
}

.card-aluno-menu {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.card-alterar {
    margin-top: 34px;
    background-color: #FFAA97;
    width: 568px;
    height: 429px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-listar {
    margin-top: 34px;
    background-color: #FFAA97;
    width: 568px;
    height: 346px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-alterar-input-img {
    width: 464px;
    display: flex;
    justify-content: space-around;
}

.card-alterar-inputs {
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-alterar-imagem {
    width: 150px;
    height: 175px;
}

.input {
    width: 277px;
    height: 55px;
    background: rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
}

.button {
    width: 200px;
    height: 55px;
    background: rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
}

.card-alterar-texto {
    width: 265px;
    display: flex;
    justify-content: start;
    font-family: Mohave;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.card-alterar-textos {
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-alterar-texto-excluir {
    width: 430px;
    display: flex;
    justify-content: start;
    font-family: Mohave;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}